:root{
    --text-color: #3A3A3A ;
}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 50px;
}
/* navigation style  */
.navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.nav-influencer{
    padding-left: 80px;
}
.nav-anchor{
    padding-right: 80px;
    
}
.navigation div h3{
    margin: 0;
    font-size: 24px;
    color: #3A3A3A;
}
.navigation div a{
    text-decoration: none;
    font-size: 16px;
    color:#3A3A3A;
    margin-left: 30px;
}
/* start-influencer-area start style  */

.start-influencer-area{
    display: flex;
    justify-content: center ;
    align-items: center;
    padding-top: 50px;
}

.influencer{
    width: 50%;
    padding: 20px 80px;
}

.influencer h1{
    color: var(--text-color);
    font-size: 52px;
    margin: 0%;
}
.button{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color:#E02C6D;
    padding: 10px 30px;
    border-radius: 50px;
}
.influencer p{
    margin:30px 0px;
    color:var(--text-color);
}
.influencer img{
    width: 500px;
}
/* popular-collection-area style start */
.container{
    margin-left: 80px;
    margin-right: 80px;
}

.popular-titel{
    font-size: 28px ;
    color: var(--text-color);
    text-align:center;
    margin: 30px ;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px ;
    grid-row-gap: 30px;
}
.product{
    padding: 16px;
    box-shadow: 5px 5px 30px rgb(243 240 240);
}
.product .product-bannar img{
    width: 340px;
    height: 256px;
}
.products-didets p{
    color: var(--text-color);
}
.filed{
    color:gold
}
.emptry{
    color: gray;
}
.product-didetils{
    color: var(--text-color);
}
.container a{
    text-decoration: none;
    text-align: right;
}

.see-more-button{
    text-align: right;
    margin-right: 80px;
}
.see-more{
    text-decoration: none;
    color: #E02C6D;      
}
/* camera-accessoris style start  */
.camera-accessoris{
    display: flex;
  
}
.hafe-width{
    width: 50%;
   
}
.hafe-width img{
    width: 400px;
    height: 270px;
    margin-left: 80px;
    border-radius: 15px;
}
.text{
    margin-right: 80px;
    margin-left: 0px;
}
.text h1{
    font-size: 38px;
    color: #0A0826;
}
.text p{
    text-align: justify;
}


/* footrt style  */
.footer-influ{
    font-weight: 700;
    color: white;
    background-color: #0A0826;
    padding: 30px 0px;

}
.footer-influ a{
    color: white;
    margin: 5px;
}
.footer-influ{
    text-align: center;
    margin: 0px;
}